@font-face {
	font-family: "xp-icon";
	font-display: swap;
	src: url('../fonts/xp-icon/xp-icon.eot');
	src: url('../fonts/xp-icon/xp-icon.eot?#iefix') format('eot'),
		url('../fonts/xp-icon/xp-icon.woff2') format('woff2'),
		url('../fonts/xp-icon/xp-icon.woff') format('woff'),
		url('../fonts/xp-icon/xp-icon.ttf') format('truetype'),
		url('../fonts/xp-icon/xp-icon.svg#xp-icon') format('svg');
}

.xp-icon:before {
	font-family: "xp-icon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.xp-icon-00-star:before {
	content: "\E001";
}

.xp-icon-02-star-light:before {
	content: "\E002";
}

.xp-icon-03-star:before {
	content: "\E003";
}

.xp-icon-account:before {
	content: "\E004";
}

.xp-icon-alarm:before {
	content: "\E005";
}

.xp-icon-angle-down:before {
	content: "\E006";
}

.xp-icon-angle-left:before {
	content: "\E007";
}

.xp-icon-angle-right:before {
	content: "\E008";
}

.xp-icon-angle-up:before {
	content: "\E009";
}

.xp-icon-arrow-bottom:before {
	content: "\E00A";
}

.xp-icon-arrow-left-2:before {
	content: "\E00B";
}

.xp-icon-arrow-left:before {
	content: "\E00C";
}

.xp-icon-arrow-right-2:before {
	content: "\E00D";
}

.xp-icon-arrow-right:before {
	content: "\E00E";
}

.xp-icon-arrow-top:before {
	content: "\E00F";
}

.xp-icon-bag:before {
	content: "\E010";
}

.xp-icon-balance:before {
	content: "\E011";
}

.xp-icon-bars:before {
	content: "\E012";
}

.xp-icon-box:before {
	content: "\E013";
}

.xp-icon-btn-left:before {
	content: "\E014";
}

.xp-icon-btn-right:before {
	content: "\E015";
}

.xp-icon-calendar-31:before {
	content: "\E016";
}

.xp-icon-calling:before {
	content: "\E017";
}

.xp-icon-card-pay-line:before {
	content: "\E018";
}

.xp-icon-card-pos:before {
	content: "\E019";
}

.xp-icon-card:before {
	content: "\E01A";
}

.xp-icon-cart:before {
	content: "\E01B";
}

.xp-icon-check:before {
	content: "\E01C";
}

.xp-icon-chevron-down:before {
	content: "\E01D";
}

.xp-icon-chevron-left:before {
	content: "\E01E";
}

.xp-icon-chevron-right:before {
	content: "\E01F";
}

.xp-icon-chevron-up:before {
	content: "\E020";
}

.xp-icon-clock-02:before {
	content: "\E021";
}

.xp-icon-clock:before {
	content: "\E022";
}

.xp-icon-close-01:before {
	content: "\E023";
}

.xp-icon-close-02:before {
	content: "\E024";
}

.xp-icon-close:before {
	content: "\E025";
}

.xp-icon-cloud:before {
	content: "\E026";
}

.xp-icon-comment-2:before {
	content: "\E027";
}

.xp-icon-comment-alt:before {
	content: "\E028";
}

.xp-icon-comment:before {
	content: "\E029";
}

.xp-icon-compare:before {
	content: "\E02A";
}

.xp-icon-convert-3d-cube:before {
	content: "\E02B";
}

.xp-icon-creative:before {
	content: "\E02C";
}

.xp-icon-credit-card:before {
	content: "\E02D";
}

.xp-icon-cross:before {
	content: "\E02E";
}

.xp-icon-cross2:before {
	content: "\E02F";
}

.xp-icon-delivery-return:before {
	content: "\E030";
}

.xp-icon-delivery:before {
	content: "\E031";
}

.xp-icon-document:before {
	content: "\E032";
}

.xp-icon-down:before {
	content: "\E033";
}

.xp-icon-dumbbell:before {
	content: "\E034";
}

.xp-icon-email:before {
	content: "\E035";
}

.xp-icon-envelope-open:before {
	content: "\E036";
}

.xp-icon-envelope:before {
	content: "\E037";
}

.xp-icon-eye:before {
	content: "\E038";
}

.xp-icon-facebook-f:before {
	content: "\E039";
}

.xp-icon-favorite-border:before {
	content: "\E03A";
}

.xp-icon-favorite:before {
	content: "\E03B";
}

.xp-icon-filter:before {
	content: "\E03C";
}

.xp-icon-flexible-payment:before {
	content: "\E03D";
}

.xp-icon-folder:before {
	content: "\E03E";
}

.xp-icon-free-delivery:before {
	content: "\E03F";
}

.xp-icon-free-return:before {
	content: "\E040";
}

.xp-icon-gifts:before {
	content: "\E041";
}

.xp-icon-grid-2:before {
	content: "\E042";
}

.xp-icon-grid:before {
	content: "\E043";
}

.xp-icon-heart:before {
	content: "\E044";
}

.xp-icon-heart2:before {
	content: "\E045";
}

.xp-icon-help:before {
	content: "\E046";
}

.xp-icon-history:before {
	content: "\E047";
}

.xp-icon-home-hashtag:before {
	content: "\E048";
}

.xp-icon-home3:before {
	content: "\E049";
}

.xp-icon-import:before {
	content: "\E04A";
}

.xp-icon-instagram:before {
	content: "\E04B";
}

.xp-icon-justifyleft:before {
	content: "\E04C";
}

.xp-icon-level-up:before {
	content: "\E04D";
}

.xp-icon-light-weight:before {
	content: "\E04E";
}

.xp-icon-linkedin-in:before {
	content: "\E04F";
}

.xp-icon-list:before {
	content: "\E050";
}

.xp-icon-loading:before {
	content: "\E051";
}

.xp-icon-location-2:before {
	content: "\E052";
}

.xp-icon-location-on:before {
	content: "\E053";
}

.xp-icon-location-shop:before {
	content: "\E054";
}

.xp-icon-location-tick:before {
	content: "\E055";
}

.xp-icon-location:before {
	content: "\E056";
}

.xp-icon-logout:before {
	content: "\E057";
}

.xp-icon-logout2:before {
	content: "\E058";
}

.xp-icon-magnifier:before {
	content: "\E059";
}

.xp-icon-map-2:before {
	content: "\E05A";
}

.xp-icon-map-marker-alt:before {
	content: "\E05B";
}

.xp-icon-map:before {
	content: "\E05C";
}

.xp-icon-menu:before {
	content: "\E05D";
}

.xp-icon-message:before {
	content: "\E05E";
}

.xp-icon-messages-2:before {
	content: "\E05F";
}

.xp-icon-microphone:before {
	content: "\E060";
}

.xp-icon-minus-square:before {
	content: "\E061";
}

.xp-icon-minus:before {
	content: "\E062";
}

.xp-icon-money:before {
	content: "\E063";
}

.xp-icon-near:before {
	content: "\E064";
}

.xp-icon-note:before {
	content: "\E065";
}

.xp-icon-notif:before {
	content: "\E066";
}

.xp-icon-notification:before {
	content: "\E067";
}

.xp-icon-percentage:before {
	content: "\E068";
}

.xp-icon-personal-trainer:before {
	content: "\E069";
}

.xp-icon-phone-2:before {
	content: "\E06A";
}

.xp-icon-picture2:before {
	content: "\E06B";
}

.xp-icon-pictures:before {
	content: "\E06C";
}

.xp-icon-play-circle:before {
	content: "\E06D";
}

.xp-icon-play:before {
	content: "\E06E";
}

.xp-icon-plus-square:before {
	content: "\E06F";
}

.xp-icon-plus:before {
	content: "\E070";
}

.xp-icon-price:before {
	content: "\E071";
}

.xp-icon-profile:before {
	content: "\E072";
}

.xp-icon-pushpin:before {
	content: "\E073";
}

.xp-icon-question:before {
	content: "\E074";
}

.xp-icon-quickview:before {
	content: "\E075";
}

.xp-icon-quote-2:before {
	content: "\E076";
}

.xp-icon-quote-left:before {
	content: "\E077";
}

.xp-icon-quote:before {
	content: "\E078";
}

.xp-icon-rain-cloud:before {
	content: "\E079";
}

.xp-icon-receipt-terminal:before {
	content: "\E07A";
}

.xp-icon-recently-viewed:before {
	content: "\E07B";
}

.xp-icon-recycle:before {
	content: "\E07C";
}

.xp-icon-redeem:before {
	content: "\E07D";
}

.xp-icon-redo2:before {
	content: "\E07E";
}

.xp-icon-reply:before {
	content: "\E07F";
}

.xp-icon-return-box:before {
	content: "\E080";
}

.xp-icon-return:before {
	content: "\E081";
}

.xp-icon-rocket:before {
	content: "\E082";
}

.xp-icon-running:before {
	content: "\E083";
}

.xp-icon-search-normal:before {
	content: "\E084";
}

.xp-icon-search:before {
	content: "\E085";
}

.xp-icon-send:before {
	content: "\E086";
}

.xp-icon-service:before {
	content: "\E087";
}

.xp-icon-shop:before {
	content: "\E088";
}

.xp-icon-shopping-bag:before {
	content: "\E089";
}

.xp-icon-shopping-cart:before {
	content: "\E08A";
}

.xp-icon-shuffle:before {
	content: "\E08B";
}

.xp-icon-size-guide:before {
	content: "\E08C";
}

.xp-icon-sms-notification:before {
	content: "\E08D";
}

.xp-icon-spill:before {
	content: "\E08E";
}

.xp-icon-star2:before {
	content: "\E08F";
}

.xp-icon-store-24:before {
	content: "\E090";
}

.xp-icon-store:before {
	content: "\E091";
}

.xp-icon-sunlight:before {
	content: "\E092";
}

.xp-icon-support-2:before {
	content: "\E093";
}

.xp-icon-support-24:before {
	content: "\E094";
}

.xp-icon-support:before {
	content: "\E095";
}

.xp-icon-sync:before {
	content: "\E096";
}

.xp-icon-tab:before {
	content: "\E097";
}

.xp-icon-tag:before {
	content: "\E098";
}

.xp-icon-task-square:before {
	content: "\E099";
}

.xp-icon-xp-list:before {
	content: "\E09A";
}

.xp-icon-xp-user:before {
	content: "\E09B";
}

.xp-icon-text-align-right:before {
	content: "\E09C";
}

.xp-icon-tick-circle:before {
	content: "\E09D";
}

.xp-icon-timer:before {
	content: "\E09E";
}

.xp-icon-transaction:before {
	content: "\E09F";
}

.xp-icon-trash:before {
	content: "\E0A0";
}

.xp-icon-truck:before {
	content: "\E0A1";
}

.xp-icon-twitter:before {
	content: "\E0A2";
}

.xp-icon-type-audio:before {
	content: "\E0A3";
}

.xp-icon-type-image:before {
	content: "\E0A4";
}

.xp-icon-type-video:before {
	content: "\E0A5";
}

.xp-icon-upload2:before {
	content: "\E0A6";
}

.xp-icon-usb:before {
	content: "\E0A7";
}

.xp-icon-usd:before {
	content: "\E0A8";
}

.xp-icon-user-2:before {
	content: "\E0A9";
}

.xp-icon-user:before {
	content: "\E0AA";
}

.xp-icon-visibility:before {
	content: "\E0AB";
}

.xp-icon-water:before {
	content: "\E0AC";
}

.xp-icon-youtube:before {
	content: "\E0AD";
}

.xp-icon-zoom-in:before {
	content: "\E0AE";
}
